<h1>Entrenadores</h1>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4 imagen-perfil">
    <div class="row">
      <div class="col-sm-6">
        <img src="https://orig00.deviantart.net/06cf/f/2016/191/e/8/ash_ketchum_render_by_tzblacktd-da9k0wb.png" alt="ash" width="150" height="150">
      </div>
      <div class="col-sm-6">
        <ul>
          <p>Ash</p>
          <p>Marica</p>
        </ul>
      </div>
    </div>

  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-4 imagen-perfil">
    <div class="row">
      <div class="col-sm-6">
        <img src="https://orig00.deviantart.net/06cf/f/2016/191/e/8/ash_ketchum_render_by_tzblacktd-da9k0wb.png" alt="ash" width="150" height="150">
      </div>
      <div class="col-sm-6">
        <ul>
          <p>Ash</p>
          <p>Marica</p>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-1">

  </div>

  <div class="col-sm-2">
    <br>
    <br>
    <button class="btn btn-primary"><-- Anteriores (2)</button>
  </div>
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <br>
    <br>
    <button class="btn btn-primary">Siguientes (2) --></button>
  </div>

</div>
<br>
<br>
