<div class="row">
  <div class="col-sm-12">
    <br>
  </div>

  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2 ">
    <img src="https://i.pinimg.com/originals/5a/dc/89/5adc89f4a0752dfec5c2f9ba625bfac5.png" alt="fotoperfil" class="imagen-perfil" width="50" height="50" > Danny
  </div>
  <br>
</div>

<h1 align="center">PERFIL</h1>


