<h1>USUARIOS</h1>

<div class="row">
  <div class="col-sm-3">
    <h3>Danny</h3>
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="usuario1" width="100" height="100" class="imagen-perfil">
    <br>
    <br>
    <button (click)="clickVisitar()" class="btn btn-submit" >Visitar</button>
  </div>
  <!--  <div class="col-sm-3">
    <h3>Marido</h3>
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="usuario1" width="100" height="100" class="imagen-perfil">
    <br>
    <br>
    <button class="btn btn-submit">Visitar</button>
  </div>
  <div class="col-sm-3">
    <h3>Marido2</h3>
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="usuario1" width="100" height="100" class="imagen-perfil">
    <br>
    <br>
    <button class="btn btn-submit">Visitar</button>
  </div>
  <div class="col-sm-3">
    <h3>Marido3</h3>
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="usuario1" width="100" height="100" class="imagen-perfil">
    <br>
    <br>
    <button class="btn btn-submit">Visitar</button>
    <br>
    <br>
  </div>


  <div class="col-sm-2">
    <button class="btn btn-primary"><-- Anteriores (4)</button>
  </div>
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <button class="btn btn-primary">Siguientes (4) --><!--</button>
  </div>-->
</div>
<br>
<br>
